@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

.app{
        background-image: url('/background3.jpg');
 
}
.app__residents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    max-height: 500px;
    overflow-y: scroll;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.278);
    border-radius:5px;
    

}

.flip-card {
    background-color: transparent;
    padding: 1em;
    width: 350px;
    height: 400px;
    perspective: 1000px;
    padding-left: 3em;
    color: white;
    cursor: pointer;


}

.card__title {
    text-align: center;
    font-family: 'Comic Neue', cursive;
    font-weight: 700;
    font-size: 1.5rem;
    color: rgb(72, 212, 72);
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;

    transition: transform 0.8s;
    transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1em;
    background-color: #084851;
}

.flip-card-back {
    transform: rotateY(180deg);
    line-height: 1rem;
}


.img__card {
    width: 100%;
    width: 250px;
    display: block;
    border-radius: 1em;
}
img{
    width: 100%;
    display: block;
}


.filp-body-back {
    background-color: rgb(117, 234, 117);
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-image: url('/rick.svg');

}


.items__int {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1em;
    z-index: 1;

}

.resident__status {
    position: relative;
   left: 1em;
    background-color: #084851;
    display: flex;
    gap: 1em;
    margin-left: 1em;
    max-width: 110px;
    border-radius: 0 5px 5px 0;

    z-index: 1;
}

.resident__cicle {
    width: 20px;
    height: 20px;
    margin-left: 7px;
    border-radius: 100%;
    background-color: rgb(110, 107, 107);
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.status {
    color: white;
}

.Alive {
    background-color: rgb(14, 120, 84);
}

.Dead {
    background-color: red;
}

.img__head {
    background-size: cover;
    background-position: center;
    height: auto;
   

}

.img__head {
    display: flex;
    justify-content: center;

}

.head_img {
    border-radius: 0;
    object-fit: cover;

}

.img__primary {
    position: relative;
    width: 100vw;
    min-height: 300px;
    height: 400px;
}

.img__primary {
    display: flex;
    justify-content: center;

}

.not__info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-direction: column;

}
.not__info h1{
    color: white;
}

.dont__not {
    width: 200px;
}

.app__input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-bottom: 1em;
    
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.flip-card {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}